.btn{
    font-size:15px;
    font-weight: bold;
    opacity: 0.8;
    background-color: darkgrey;
    width: 200px;
    padding:10px 15px;
    text-align: center;
    display: block;
    box-shadow: 0 8px;
    transition: 0.2s all ease 0s;
    border-radius: 5px;
}

.btn:hover{
 opacity: 1;
 box-shadow: none;
 transform: translate3d(0,3px,0);
}