header{
    background-color: aqua;
    width:100%;
}

.wrapper{
    width: 970px;
    margin:30px auto 40px;
}

.main{
    display: block;
    float: left;
    width: 660px;
background-color: brown;
}

.sidemenu{
    float:right;
    width:275px;
background-color: cadetblue;
}

footer{
    width:100px;
    background-color:red ;
}

.clear{
    clear: both;
}